name: CI

on:
  push:
    tags:
      - '*'
    branches:
      - master
      - develop
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: coursier/cache-action@v6
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Run tests
      run: sbt +test
    - name: Check assets can be published
      if: ${{ always() }}
      run: sbt +publishLocal
    - name: Check Scala formatting
      if: ${{ always() }}
      run: sbt scalafmtCheckAll
    - name: Deploy snowplow-maxmind-iplookups to Maven Central
      if: startsWith(github.ref, 'refs/tags/')
      run: sbt ci-release
      env:
        PGP_PASSPHRASE: ${{ secrets.SONA_PGP_PASSPHRASE }}
        PGP_SECRET: ${{ secrets.SONA_PGP_SECRET }}
        SONATYPE_USERNAME: ${{ secrets.SONA_USER }}
        SONATYPE_PASSWORD: ${{ secrets.SONA_PASS }}
    - name: Get current version
      id: ver
      run: echo "::set-output name=tag::${GITHUB_REF#refs/tags/}"
    - name: Publish ScalaDoc
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        project_version=${{ steps.ver.outputs.tag }}
        sbt makeSite
        echo Publishing Scaladoc
        git fetch
        git checkout gh-pages
        cp -r target/site/$project_version .
        git config user.name "GitHub Actions"
        git config user.email "<>"
        git add $project_version
        git commit -m "Added Scaladoc for $project_version"
        git push origin gh-pages
